# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
PPS/obj/*
PPS/bin/*
*.suo
*.vbproj
PPS/PPS.vbproj
CUI2DisplayControl/CUI2DisplayControl/displaycontrol.pfx
CUI2DisplayControl/CUI2DisplayControl/obj/Debug/CUI2DisplayControl.pdb
CUI2DisplayControl/CUI2DisplayControl/obj/Debug/CUI2DisplayControl.vbproj.FileListAbsolute.txt
CUI2DisplayControl/CUI2DisplayControl/obj/Debug/CUI2DisplayControl.vbproj.GenerateResource.Cache
CUI2DisplayControl/CUI2DisplayControl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CUI2DisplayControl/CUI2DisplayControl/obj/Debug/PPSFBIControls.Resources.resources
PPS/bin/Debug/CUI2DisplayControl.pdb
PPS/bin/Debug/PPS.dll
PPS/bin/Debug/PPS.pdb
CUI2DisplayControl/CUI2DisplayControl/obj/Debug/PPSFBIControls.DisplayControl.resources
CUI2DisplayControl/CUI2DisplayControl/obj/Debug/CUI2DisplayControl.dll
CUI2DisplayControl/CUI2DisplayControl/bin/Debug/CUI2DisplayControl.dll.CodeAnalysisLog.xml
CUI2DisplayControl/CUI2DisplayControl/ccc.pfx
CUI2DisplayControl/CUI2DisplayControl/obj/Debug/DesignTimeResolveAssemblyReferences.cache
NetworkModule/NetworkModule/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PPS/bin/Debug/PPS.pdb
PPS/bin/Debug/NetworkModule.pdb
NetworkModule/NetworkModule/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache