<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>


    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FinancialBI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>


  <userSettings>
    <FinancialBI.My.MySettings>
      <setting name="version_id" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="tablesFontSize" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="dgvFontSize" serializeAs="String">
        <value>8.5</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="controllingUIResizeTofitGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="titleFontColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="titleBackColor" serializeAs="String">
        <value>DarkSlateBlue</value>
      </setting>
      <setting name="titleFontBold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="titleFontItalic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="titleBordersPresent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="titleIndent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="importantFontColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="importantBackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="importantFontBold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importantFontItalic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importantBordersPresent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importantBordersColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="normalFontColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="normalBackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="normalFontBold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="normalFontItalic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="normalBordersPresent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="normalIndent" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="normalBordersColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="detailFontBold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="detailFontItalic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="detailBordersPresent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="detailIndent" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="detailBordersColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="importantIndent" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="detailFontColor" serializeAs="String">
        <value>DodgerBlue</value>
      </setting>
      <setting name="detailBackColor" serializeAs="String">
        <value>192, 255, 255</value>
      </setting>
      <setting name="snapshotInputsBackColor" serializeAs="String">
        <value>PowderBlue</value>
      </setting>
      <setting name="snapshotInputsTextColor" serializeAs="String">
        <value>Navy</value>
      </setting>
      <setting name="snapshotOutputsBackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="snapshotOutputsTextColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="currentCurrency" serializeAs="String">
        <value>34</value>
      </setting>
      <setting name="chart1Serie1AccountId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="chart1Serie2AccountId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="chart2Serie1AccountId" serializeAs="String">
        <value>89</value>
      </setting>
      <setting name="chart2Serie2AccountId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="chart3Serie1AccountId" serializeAs="String">
        <value>349</value>
      </setting>
      <setting name="chart3Serie2AccountId" serializeAs="String">
        <value>41</value>
      </setting>
      <setting name="chart4Serie1AccountId" serializeAs="String">
        <value>358</value>
      </setting>
      <setting name="chart4Serie2AccountId" serializeAs="String">
        <value>353</value>
      </setting>
      <setting name="chart1Serie1Color" serializeAs="String">
        <value>Navy</value>
      </setting>
      <setting name="chart1Serie2Color" serializeAs="String">
        <value>128, 128, 255</value>
      </setting>
      <setting name="chart2Serie1Color" serializeAs="String">
        <value>Teal</value>
      </setting>
      <setting name="chart2Serie2Color" serializeAs="String">
        <value>0, 192, 192</value>
      </setting>
      <setting name="chart3Serie1Color" serializeAs="String">
        <value>PaleTurquoise</value>
      </setting>
      <setting name="chart3Serie2Color" serializeAs="String">
        <value>Silver</value>
      </setting>
      <setting name="chart4Serie1Color" serializeAs="String">
        <value>255, 255, 128</value>
      </setting>
      <setting name="chart4Serie2Color" serializeAs="String">
        <value>128, 255, 128</value>
      </setting>
      <setting name="chart1Serie1Type" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="chart1Serie2Type" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="chart2Serie1Type" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="chart2Serie2Type" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="chart3Serie1Type" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="chart3Serie2Type" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="chart4Serie1Type" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="chart4Serie2Type" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="chart1Title" serializeAs="String">
        <value>Résultat Opérationnel (m€)</value>
      </setting>
      <setting name="chart2Title" serializeAs="String">
        <value>Investissements (m€)</value>
      </setting>
      <setting name="chart3Title" serializeAs="String">
        <value>Cash Flow (€)</value>
      </setting>
      <setting name="chart4Title" serializeAs="String">
        <value>Ratios Financiers (%)</value>
      </setting>
      <setting name="port_number" serializeAs="String">
        <value>4242</value>
      </setting>
      <setting name="serverIp" serializeAs="String">
        <value>52.19.112.46</value>
      </setting>
      <setting name="titleBordersColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="processId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="language" serializeAs="String">
        <value>0</value>
      </setting>
    </FinancialBI.My.MySettings>
  </userSettings>
</configuration>
